@import 'variables.scss';

h1, h2, h3, h4, h5, h5, p, span, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: $margin-center;
    padding: 0;
}

.wrapper {
    padding: 0px 27px;
}

/* Main screen + header */
.main-screen {
    height: 820px;
    background-image: url('../assets/main-screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__header {
        padding-top: 70px;
        display: flex; 
        justify-content: space-between;

        & a {
            font-family: $font;
            font-style: normal;
            font-weight: 600;
            font-size: $fs20;
            line-height: 16px;
        
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
        
            color: $white;
        }
    }
} 

.burger-menu {

    &__toggle {
        opacity: 0;

        &:checked ~ .burger-menu__btn > span {
            transform: rotate(45deg);
        }
    
        &:checked ~ .burger-menu__btn > span::before {
            top: 0;
            transform: rotate(0);
        }
    
        &:checked ~ .burger-menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
    
        &:checked ~ .burger-menu__list {
            visibility: visible;
            right: 0;
        }
    }    

    &__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 65px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    
        & > span,
        & > span::before,
        & > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;
            transition-duration: .25s;
        }
        
        & > span::before {
            content: '';
            top: -8px;
        }
        
        & > span::after {
            content: '';
            top: 8px;
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        transition-duration: .25s;
        right: -100%;
        padding-top: 15px;
        visibility: hidden;
        transition-duration: .25s;

        & a {
            text-decoration: none;
            list-style: none;
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
    
            letter-spacing: 0.2em;
            text-transform: uppercase;
    
            color: $white;
            cursor: pointer;
            padding-top: 15px;
            transition-duration: .25s;
        }

        & a:first-child {
            padding-top: 0;
        }
    
        & a:hover {
            border-bottom: 2px solid $white;
        }
    
        & a:last-child {
            margin-right: 0;
        }
    }
}

.main-screen__content {
    text-align: center;
    max-width: 440px;
    margin: $margin-center;
    padding-top: 0;

    &-img {
        transition: transform 1s ease-in-out;
    }
    
    &-img:hover {
        transform: scaleY(1.5) rotateY(180deg) ;
    }

    &-heading {
        font-family: $font-oswald;
        font-style: normal;
        font-weight: 700;
        font-size: $fs48;
        line-height: 64px;
        color: $white;
        max-width: 377px;
        margin: 15px auto 40px;
    }

    &-description {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: $fs24;
        line-height: 32px;
        max-width: 420px;
    
        color: $light-gray; 
    }
}

/* Second screen - Headline Screen */

.headline-screen {
    padding: 100px 0;
    text-align: center;

    &__heading {
        font-family: $font-oswald;
        font-style: normal;
        font-weight: 700;
        font-size: $fs48;
        line-height: 64px;
        color: $dark-gray;
        max-width: 670px;
        margin: $margin-center;
    }

    &__underheading {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: $fs24;
        line-height: 32px;
        color: $mid-gray;
        max-width: 425px;
        margin: 50px auto;
    }    
    
    &__pharagraph {
        display: grid;
        row-gap: 30px;
        grid-template-rows: repeat(2, 2fr);

        &-description {
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: $fs16;
            line-height: 22px;
            color: $black;
            text-align: initial;
        }
    }    
    
    &__button {
        width: 115px;
        height: 35px;
        background: $turquoise;
        border-radius: 18px;
        margin: $margin-center; 
    
        font-family: $font-oswald;
        font-weight: 400;
        font-size: $fs14;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        color: $white;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 1s ease-in-out;

        &:hover {
            transform-origin: top;
            transform: translateY(10px) rotate(10deg); 
        }
    }    
}

/* therd screen - learn screen */

.learn-screen {
    height: 665px;
    background-image: url(../assets/last-screen.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        max-width: 395px;
        text-align: center;
        padding-top: 100px;
        margin: $margin-center;

        &-heading {
            font-family: $font-oswald;
            font-style: normal;
            font-weight: 700;
            font-size: $fs48;
            line-height: 64px;
            color: $white;
        }
        
        &-button {
            width: 150px;
            height: 150px;
            border: none;
            border-radius: 50%;
            background-color: $turquoise;   
            margin: 50px auto 70px;
            cursor: pointer;
            z-index: 0;
            transition: transform 1s ease;
        
            &:hover {
                transform: scale(.9); 
                background-color: $white;
            }

            & span {
                color: $white;
                font-size: 65px;
                margin-left: -6px;
                transition: transform 1s ease;
                padding: 57px;
            }
            
            & span:hover {
                transform: scale(.9); 
                color: $turquoise;
            }
        }

        &-descripton {
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: $fs24;
            line-height: 32px;
            color: $light-gray;
        }
    }
}

/* footer */

.footer {
    background-color: #464547;
    height: 295px;
    text-align: center;

    & .wrapper {
        display: grid;
        grid-template-rows: 45px 100px 45px;
        margin: $margin-center;
        padding-top: 55px;
    }

    &__logo {
        display: flex;
        justify-content: center;
    
        &-img {
            width: 20px;
            height: 20px;
            margin-top: 2px;
        }
        
        &-log {
            margin-left: 10px;
            font-family: $font;
            font-size: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: $white;
        }
    }

    &__contacts {

        &-email{
            display: block;
            text-decoration: none;
            margin-top: 15px;
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: $fs16;
            line-height: 19px;
            color: $light-gray;
        }

        &-address {
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: $fs16;
            line-height: 19px;
            color: $light-gray;
        }
    }

    &__rul{
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: $fs16;
        line-height: 19px;
        color: $light-gray;
    }
}


@media screen and (min-width: 768px) {

    .main-screen {

        .wrapper {
            padding: 0px 80px;
        }
    }


    .main-screen__header-nav {
        max-width: 420px;
        margin: $margin-center;
    }

    .burger-menu__toggle{
        display: none;
    }

    .burger-menu__btn {
        visibility: hidden;
    }

    .burger-menu__list {
        flex-direction: row;
        visibility: visible;
        padding-top: 0px;
    }

    .burger-menu__list a {
        margin-right: 30px;     
        padding-bottom: 0px;  
        padding-top: 0px;
    }

    .burger-menu__list a:last-child {
        margin-right: 0;
    }

    .main-screen__content {
        padding-top: 15%;
    }

    .headline-screen__pharagraph {
        grid-template-columns: repeat(2, 2fr);
        column-gap: 75px;
        row-gap: 0px;
        grid-template-rows: none;
    }

    .headline-screen__button {
        margin: 40px auto 0;
    }

    .footer {
        height: 200px;
        text-align: justify;
    }
    
    .footer .wrapper {
        grid-template-columns: repeat(3, 3fr);
        padding-top: 55px;
        grid-template-rows: none;
    }

    .footer__logo {
        display: flex;
        justify-content: start;
    }

    .contacts a{
        margin-top: 30px;
    }
    
    .footer__rul {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .footer__address, .footer__email,
    .footer__rul, .contacts a {
        font-size: $fs14;
    }
}

@media screen and (min-width: 920px) {
    .wrapper {
        padding: 0px 140px;
    }

    .footer__address, .footer__email,
    .footer__rul, .contacts a {
        font-size: $fs16;
    }
}
