$font: 'Source Sans Pro';
$font-oswald: 'Oswald';
$fs14: 14px;
$fs16: 16px;
$fs20: 20px;
$fs24: 24px;
$fs48: 48px;
$margin-center: 0 auto;

$white: #ffffff;
$light-gray: #c2c2c2;
$turquoise: #39C2D7;
$black: #000000;
$mid-gray: #666666;
$dark-gray: #464547;